
{% extends "base.html" %}

{% block content %}
</hr>
<br>

<h1>Blog Posts:</h1>
       
    {% if posts %}
        <ul>
            {% for post in posts %}
                <li><a href= "/blog?id={{post.id}}">{{ post.title }}</a>
                <p> {{ post.body }} </p>
                <p> written by: <a href= "/blog?user={{post.owner.user_name}}">{{ post.owner.user_name }}</a> {{ post.user }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
            <p>No Blogs Entered Yet</p>

    {% endif %}
       <hr />

{% endblock %}