<!doctype html>
<html>
    <head>
            <nav>
                <a href="/blog">Main Blog Page </a> |
                <a href="/newpost">Add a New Blog Post</a> |
                
            </nav> 
        <title>{{title}}</title>
       
       <style>
            .error {
                color: red;
            }
        </style>
    </head>
<body>
        <div style="float: right;">                                    
            <a href="/login">Log In</a> | 
            <a href="/register">Register</a> |
            <a href="/logout">Log Out</a>
        </div>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages|length != 0 %}
                <ul>
                    {% for category, message in messages %}
                        <li class="{{category}}">{{message}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
   
    {% block content %}
    {% endblock %}

</body>
</html>