
{% extends "base.html" %}

{% block content %}
<h1>Blog Post</h1>
       
       {% if blog | length == 0 %}
       <p>No Blogs Entered Yet</p>
       {% else %}
           <ul>
               {% for blogs in blogs %}
               <li>{{blog.title, blog.body}}
                   <form method="POST" action="">
                       <input type="hidden" name="blog-id" value="{{blog.id}}" />
                 
                   </form>
               </li>
               {% endfor %}
           </ul>
   
       {% endif %}
       <hr />

{% endblock %}