
{% extends "base.html" %}


{% block content %}
<style>
    form {
        background-color: #efeffa;
        padding: 20px;
        margin: 0 auto;
        width: 540px;
        font: 16px sans-serif;
        border-radius: 10px;
    }
    p.error { color: red ; 
    }     
    br {margin-bottom: 20px;
    }
</style>

<h1>Log in to Build-a-Blog!</h1>
    <p>If you don't have an account, you may <a href="/register">register</a> for one</p>
    <form action="/login" method="post">
        <table>
            <tr>
                <td><label for="user_name">User name</User ></td>
                <td>
                    <input name="user_name" User "user_name" User ="{{ user_name }User                </td>
            </tr>
            <tr>
                <td><label for="password">Password</label></td>
                <td>
                    <input name="password" type="password">
                </td>
            </tr>
        </table>
        <input type="submit" value="Login">
    </form>

{% endblock %}